.education-card {
  /* flex: 1;
  display: flex;
  align-items: center;
  margin: 16px 0px;
  padding: 8px 0px; */
  margin-bottom: 30px;
}

.education-info {


}
.education-degree {
  color: #ffc400;
  font-size: 22px;
  font-weight: 700;
}
.education-major {
  font-size: 20px;
  font-weight: 400;
  margin-top: -2px;
}
.education-school {
  /* color: #f1b900; */
  font-size: 22px;
  margin-top: -23px;
  font-weight: 500;

}

.education-batch{
  margin-top: -22px;
}